@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html, body{
    scroll-behavior: smooth;
    transition: .5s ease-in-out;
}
a{
    text-decoration:none;
    color:none;
}
:root {
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --XsmallText:  0.8rem;
    --mediumText: 1.3rem;
    --BigText: 4rem;
    --phoneText:3rem;
}
.XsmallText {
    font-size: var(--XsmallText);
}
.smallText{
    font-size:var(--smallText);
}
.mediumText {
    font-size: var(--mediumText);
}
.BigText {
    font-size: var(--BigText);
}
.MainBtn{
     background-color:var(--black);
     color:white;
     font-weight:400;
     width:9rem;
     font-size: var(--smallText);
     border-radius:.2rem;
     text-align:center;
     padding:.1rem;

 }
 /****************************hero Slider*******************************/
.slide {
    box-shadow: 0px 25px 20px -20px rgba(0,0,0,0.45);
}
.heroSlide{
    display: flex;
}
.HeroImage {
    width: 100%;
    height:100%;
    border-radius:0.5rem;
}
.SlideContent{
    display:flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    padding:3rem;
    width: 50%;
    /* background-color: red; */
}
.SlideContent span {
    font-size: var(--smallText);
    color:var(--green)
}
    .SlideContent h3 {
        font-size: var(--BigText);
        font-weight: 700;
        text-transform: uppercase;
        color: var(--black)
    }
    .SlideContent p {
        font-size:var(--mediumText);
        color: var(--light-color)
    }
.ImgConatier {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1rem;
}

/****************************Services Slide*******************************/
.Services{
    margin-top:2rem;
    display: flex;
    flex-direction: row;
}
.Cardweb{
    height:18rem;
    overflow:hidden;
    padding:1rem 1.5rem;
}
.Cardweb i {
    color:var(--green);
    margin-bottom:1rem;
}
/****************************destination Slide*******************************/
.destination-Container{
    height: auto;
    overflow: hidden;
    padding: 1rem 1.5rem;
}
.destination-card img{
   height:15rem;
   object-fit:cover;
   object-position:top;
   
}
.destination-Content h5 {
    background-color: var(--black);
    color: rgb(255, 255, 255);
    font-weight:700;
    padding: .3rem 1rem;
    border-radius:0.2rem;
}
.destination-Content p{
margin-top: 1rem;
}
/****************************Gallery Slide*******************************/

 .Gallery{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 15rem;
    gap: 0.5rem;
    padding:1rem 0;
}
.Gallery .box  {
    background-position: top;
    object-fit: cover;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    border-radius: .3rem;
}
.Gallery .box:hover  {
   box-shadow: 0  0 1rem #192a56;
}

.row-span{
    grid-row: span 2;
}
.col-span{
    grid-column: span 2;

} 
/****************************hotel Slide*******************************/
.WelcomeImg{
    width: 100%;
    height: 100%;
}

@media(max-width998px) {
    html,body {
            font-size: 75%;
        } 
        .MainBtn{
            padding:.4rem .1rem;
       
        }
        
        .heroSlide{
            flex-direction: column;
        }
        .SlideContent{
          
            width: 100%;
        }
        .SlideContent span {
            font-size: var(--smallText);
        }

        .ImgConatier {
            padding: 0rem;
        }
        /* .SlideContent span {
            font-size: var(--sText);
            color:var(--green)
        } */
            .SlideContent h3 {
                font-size: var(--phoneText);
              
            }
        /******************services*********************/
        .Cardweb {
            height: 15rem;
           
        }
    /****************************Services Slide*******************************/
    .destination-Container {
        height: 33rem;
    }
    .destination-card img {
        height: 20rem;
    }
    /****************************Gallary Slide*******************************/
    .Gallery{
      
        grid-auto-rows: 18rem;
       
    }
    .Gallery .box{
        grid-row: span 1;
        grid-column: span 4;
     }
    }


    @media(max-width:728px) {
        html,body {
            font-size: 90%;
        } 
        .MainBtn{
            padding:.4rem .1rem;
       
        }
       
        .SlideContent{
          
            width: 100%;
        }
        .heroSlide{
            flex-direction: column;
        }
        .ImgConatier {
            padding: 0rem;
        }
        /* .SlideContent span {
            font-size: var(--smallText);
            color:var(--green)
        } */
        .SlideContent h3 {
            font-size: var(--phoneText);
          
        }
        /******************services*********************/
        .Cardweb {
            height: 15rem;
        }
       /****************************Services Slide*******************************/
        .destination-Container {
            height: 33rem;
            }
        .destination-card img {
             height: 20rem;
        }
    /****************************Gallary Slide*******************************/
    .Gallery .box{
        grid-row: span 1;
        grid-column: span 4;
     }
    }